body {
  margin: 0;
  padding: 0;
  color:#555;
  font-size: 10px;
  font-family: sans-serif;  
}
h2 {
  margin: 0px;
}
.navbar-brand>img {
  display: inline;
}

.navbar-inverse .navbar-toggle {
  color: black;
}
.logo-icon{
  margin: -4px 0px;
}

.logo-text{
  color: #555;
}

.nav li a {
  color: #888;
}

.nav .active {
  background: #435555;
  border-radius: 20px 0px 15px 15px;
}

.component-screen{
  margin-top: -20px;
}

.footer{
  position: fixed;
  background: white;
  bottom: 0;
}

.contact {
  padding: 20px 0px;
  text-align: center;
}

.text-padding {
  text-align: justify;
  padding: 0px 20px;
}

.no-padding {
  padding: 0px 0px;
}

.nav-header-text {
  color: #00aef3
}

.text-align-center{
  text-align: center
}

.text-align-right{
  text-align: right
}

.text-align-left{
  text-align: left
}

.login-box{
  width: 100%;
}

.secondary-container{
  height: 30px;
}

.mbl-height{
  height: 200px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .login-box {
    width: 40%;
  }
  .mbl-height{
    height: 500px;
  }
  .text-padding {
    padding: 0px 40px;
  } 
  .secondary-container{
    height: 300px;
  }
}