body {
  margin: 0;
  padding: 0;
  color:#555;
  font-family: sans-serif;  
}

.navbar-brand>img {
  display: inline;
}

.navbar-inverse .navbar-toggle {
  color: black;
}
.logo-icon{
  margin: -4px 0px;
}

.logo-text{
  color: #555;
}

.logo-text .p {
  font-size: 10px;
}

.nav li a {
  color: #888;
}

.nav .active {
  background: #435555;
  border-radius: 20px 0px 15px 15px;
}

.home-screen{
  margin-top: -20px;
}

.footer{
  position: fixed;
  background: white;
  bottom: 0;
}

.contact {
  text-align: center;
  padding: 20px;
}

.text-padding {
  text-align: justify;
  padding: 0px 40px;
}

.nav-header-text {
  font-family: serif;
  color: #00aef3
}