body {
  margin: 0;
  padding: 0;
  color:#555;
  font-size: 10px;
  font-family: sans-serif;  
}
h2 {
  margin: 0px;
}
h3 {
  margin-top: 20px;
  margin-bottom: -10px;
}

.navbar-brand>img {
  display: inline;
}

.navbar-inverse .navbar-toggle {
  color: black;
}
.logo-icon{
  margin: -4px 0px;
}

.logo-text{
  color: #555;
}

.nav li a {
  color: #888;
}

.nav .active {
  background: #00aef3 !important;
  border-radius: 20px 0px 15px 15px;
}

.component-screen{
  margin-top: -20px;
}

.footer{
  position: fixed;
  background: white;
  bottom: 0;
}

.contact {
  padding: 20px 0px;
  text-align: center;
}

.text-padding {
  text-align: justify;
  padding: 0px 20px;
}

.no-padding {
  padding: 0px 0px;
}

.nav-header-text {
  margin: 10px 0px 10px 0px;
  color: #00aef3
}

.text-align-center{
  text-align: center
}

.text-align-right{
  text-align: right
}

.text-align-left{
  text-align: left
}

.block-spacing{
  margin: 25px 0px;
}
.login-box{
  width: 100%;
}

.secondary-container{
  height: 30px;
}

.mbl-height{
  height: 200px;
}

.message-box{
  bottom: 0;
  position:fixed;
  height: 350px;
  margin: 0px -15px;  
  text-align: center;
  background: white;
  border: #435555 solid 1px;
}

.message-card-body{
  height: 150px;
  overflow-y: scroll;
}

.message-box-view{

}

/* video */
.publisher-video{
  margin: 10px;
  height: 300px;
  text-align: center;  
  background: black;
}

.subscriber-container{
  width: 60%;  
  margin: 10px;
  height: 100px;
  text-align: center; 
  background: black; 
}


@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .message-box{
    right: 0px;   
    margin: 10px;     
    height: 350px;
  }
  .login-box {
    width: 40%;
  }
  .mbl-height{
    height: 500px;
  }
  .text-padding {
    padding: 0px 40px;
  } 
  .secondary-container{
    height: 400px;
  }
  /* video */
  .publisher-video{
    height: 500px;
  }

  .subscriber-container{
    width: 100%;    
    height: 100px;
  }
  
}